# 1. Processing customer data from a CSV file for a retail company to ensure clean, unique records.

In [679]:
import pandas as pd

In [680]:
df_customer=pd.read_csv("us_customer_data 1.csv")
df_customer.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [681]:
df_customer.isna().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [682]:
df_customer['email']=df_customer['email'].fillna(df_customer['name'].str.replace(' ','').str.lower()+'@unknown.com')

In [683]:
df_customer.isna().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [684]:
df_customer.loc[27]

customer_id                                                        28
name                                                     Brandon Hall
email                                         brandonhall@unknown.com
phone                                                    974-123-3048
address              8143 Robert Cove Apt. 103, Sanchezport, CO 78231
registration_date                                          07-04-2024
loyalty_status                                                   Gold
Name: 27, dtype: object

In [685]:
df_customer['phone']=df_customer['phone'].fillna('xxx-xxx-xxxx')

In [686]:
df_customer['phone']=df_customer['phone'].str.replace('-','')

In [687]:
df_customer.loc[df_customer['phone'].str.len()<10,'phone']='xxxxxxxxx'

In [688]:
df_customer.head(2)
df_customer.loc[444]

customer_id                                                        445
name                                                      Mallory Mann
email                                            charles11@example.net
phone                                                     8995804(497)
address              14758 Bautista Fords Apt. 251, Sandrachester, ...
registration_date                                           23-10-2024
loyalty_status                                                    Gold
Name: 444, dtype: object

In [689]:
df_customer['phone']=df_customer['phone'].str.replace(r'\D','',regex=True)
df_customer['phone']=df_customer['phone'].str.slice(0,11)

In [690]:
df_customer.loc[444]

customer_id                                                        445
name                                                      Mallory Mann
email                                            charles11@example.net
phone                                                       8995804497
address              14758 Bautista Fords Apt. 251, Sandrachester, ...
registration_date                                           23-10-2024
loyalty_status                                                    Gold
Name: 444, dtype: object

In [691]:
df_customer.isna().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [692]:
df_customer.to_csv('testing.csv',index=False)